<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242334085205-5dtqr0pbb6tk1ol5svahd2n9ka1ntadv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242334085205-5dtqr0pbb6tk1ol5svahd2n9ka1ntadv</string>
	<key>API_KEY</key>
	<string>AIzaSyAvx4nYOiXpSveFwYgKpU-ocCcfPY2L-No</string>
	<key>GCM_SENDER_ID</key>
	<string>242334085205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apple--Inc..Login-3rd-Attempt</string>
	<key>PROJECT_ID</key>
	<string>login3rdattempt</string>
	<key>STORAGE_BUCKET</key>
	<string>login3rdattempt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242334085205:ios:37b5b8a863d3fce89d64dc</string>
</dict>
</plist>